body{
	background-color: rgba(252, 239, 121, 0.384);
}

img{
	width: 100%;
}

h1{
	color: rgb(148, 85, 3);
	font-size: 30pt;
	background-color: rgb(252, 233, 150);
}
.grid-container {
	display: grid;
	/* กำหนด columns */
	grid-template-columns: 20% auto 20%; 
	
	/* ช่องว่าง ความชิด */
	grid-gap: 10px;
}

.grid-container > div{
    
	text-align: center;
	
	/* background-color: rgb(241, 252, 150); */
}

#header{
	grid-column: 1 / span 3;
	margin-top: 30px;
}

#main1{
    grid-column: 1 / span 1;
	margin-left: 10px;	
	
}

#main2{
    grid-column: 2 / span 1;
	padding-top: 30px;
	padding-bottom: 30px;
}

#right{
	grid-column: 3 / span 1;
	margin-right: 10px;
}

#footer{
	grid-column: 1 / span 3;
	text-align: left;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
}

#pic1{
	grid-column: 1 / span 3;
}


#siz1{
	width: 100%;
}

@media only screen and (max-width: 580px) {

	body{
		background-color: rgb(255, 255, 255);
	}	

	.grid-container {
		  display: grid;
		  grid-template-columns: auto;
		  grid-gap: 10px; 
	}

	#header{
		
		grid-column: 1 / span 1;
	
	}
	
	#main1{
		grid-column: 1 / span 1;
		text-align: left;
	}

	#main2{
		grid-column: 1 / span 1;
	}
	
	#right{
		grid-column: 1 / span 1;
	}
	
	#footer{
		grid-column: 1 / span 1;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-right: 20px;
	}
	#pic1{
		grid-column: 1 / span 1;
	}	
}

ul{       
    margin: auto;
    font-size: 16pt;
    text-align: left;   
}

#HOME1{
	margin-top: 20px;
	margin-bottom: 20px;
}
#HOME{
	color: #000;
	font-weight: bold; 
}


.link{
	margin-top: 60px;
    margin-bottom: 30px;
    font-size: 14pt;
    /* font-weight: bold;  */
    text-align: center;
}

a:link{
    color: rgb(102, 238, 39);
}

a:visited{
    color: rgb(245, 103, 47);
}

a:hover{
    color: rgb(112, 184, 19);
}